.profile_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 100vh;
    
}
.profile{
    width: 500px;
    height: 400px;
    position: relative;
    box-shadow: 0 1px 15px rgba(0,0,0,0.5);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;



}    
.profile img{
    position: absolute;
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 100%;
    margin-top: -60px;
    left: 30%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
   
  
}
.profile .profile_Card{
    margin-top: 200px;
    height: 200px;

    
}
.profile_Card .profile_info .profile_name{
    display: flex; 
    width: 300px;
    position: absolute;
    left: 20%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;

}
.profile_Card .profile_info .profile_name p{
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 4px;
    margin-top: 2px;
    font-weight: bold;
}
.profile_Card .profile_info .profile_email{
    display: flex;
    width: 300px;
    position: absolute;
    left: 20%;
    top:60%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.profile_Card .profile_info .profile_email p{
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 4px;
    margin-top: 2px;
    font-weight: bold;
}
.profile_Card form{
    position: absolute;
    top:70%;
    left: 20%;

}
.profile_Card form label{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.profile_Card input[type="date"]{
    width: 200px;
    padding: 7px 20px;
    outline: none;
    background-color: black;
    color: white;
    border: none;
    margin-left:12px;
    
}
.profile_Card .update{
    position: absolute;
    bottom: 0;
    background-color:black;
    letter-spacing: 2px;
    font-size: 20px;
    width: 100%;
    padding: 12px;
}
