.profile_container{
    margin-top: 100px;
    height: 100%;
    display: grid;
    place-items: center;
}
.profile{
    display: flex;
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
    width: 700px;
    height: 400px;
    border-radius: 10px;

}
.profile .profile_img{
    width: 300px;
}

.profile img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.profile .profile_Card{
    background-color:#01b7ff ;
    width: 400px;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile_Card .profile_info{
    padding: 40px;

}
.profile_Card .profile_id,.profile_name, .profile_email,.profile_dob{
    display: flex;
    padding: 14px;
    width: 340px;
}
.profile_Card h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}
.profile_Card p{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;

}
.profile_Card .profile_btn{
    display: flex;
    justify-content: center;
}
.profile_btn .update{
   background-color:white;
   width: 140px;
   padding: 10px 15px;
   color:black;
   border-radius: 4px;
}
.profile_btn .logout{
    background-color:white;
    width: 140px;
    padding: 10px 15px;
    color:black;
    border-radius: 4px;
    margin-left: 4px;
 }

.profile_btn .update:hover{
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);

 }
 .profile_btn .logout:hover{
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);

 }


